body {
    width: 100%;
    max-width: 1360px;
    font-family: 'Mulish', sans-serif;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-rows: repeat(19, auto);
    grid-template-columns: repeat(12, auto);
    gap: 20px;
  
    header {
      grid-column: 1 / 12;
      grid-row: 1 / 2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      background-color: #ffffff;
  
      .logo {
        grid-column: 1 / 1;
        grid-row: 1 / 2;
  
        a {
          font-size: 24px;
          font-weight: bold;
          color: #111111;
          text-decoration: none;
        }
      }
  
      nav {
        grid-column: 11 / 12;
        grid-row: 1 / 2;
        display: flex;
        gap: 18px;
  
        a {
          text-decoration: none;
          color: #111111;
          font-size: 18px;
        }
      }
    }
  
    .main-container {
      grid-column: 1 / 12;
      grid-row: 4 / 17;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      gap: 20px;
  
      .intro {
        grid-column: 1 / 8;
        grid-row: 4 / 5;
        position: relative;
  
        h1 {
          font-size: 40px;
          line-height: 55px;
          color: #111111;
          margin-bottom: 39px;
        }
  
        p {
          font-size: 16px;
          line-height: 26px;
          color: #111111;
          margin: 0;
        }
      }
  
      .contact-container {
        grid-column: 8 / 12;
        grid-row: 4 / 8;
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
  
        .contact-form {
          width: 100%;
  
          .contant-variable {
            margin-bottom: 20px;
  
            label {
              display: block;
              margin-bottom: 5px;
              font-size: 14px;
              color: #111111;
            }
  
            input,
            textarea {
              width: 100%;
              padding: 8px;
              font-size: 14px;
              border: none;
              border-bottom: 1px solid #979797;
              outline: none;
            }
  
            button {
              width: 125px;
              height: 50px;
              font-size: 14px;
              color: #fff;
              background-color: #4a4aff;
              border: none;
              cursor: pointer;
              text-align: center;
            }
          }
        }
      }
  
      .map {
        grid-column: 1 / 12;
        grid-row: 10 / 17;
        display: flex;
        flex-wrap: wrap;
  
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  
    footer {
      grid-column: 1 / 12;
      grid-row: 19;
      display: grid;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff;
  
      .logo {
        grid-column: 1 / 1;
        grid-row: 1 / 2;
  
        a {
          font-size: 24px;
          font-weight: bold;
          color: #111111;
          text-decoration: none;
        }
      }
  
      .footer-nav {
        grid-column: 9 / 10;
  
        a {
          text-decoration: none;
          font-size: 18px;
          font-weight: bold;
          color: #111111;
          margin: 0 10px;
        }
      }
  
      .footer-social {
        grid-column: 11 / 12;
  
        a {
          margin: 0 5px;
  
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
  